<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>
    Product Stock Management
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
  <!-- Load AngularJS -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript">
    var app = angular.module("ProductManagement", []);

    //Controller Part
    app.controller("ProductManagementController", function ($scope, $http) {

      //Initialize page with default data which is blank in this example
      $scope.products = [];

      $scope.form = {
        id: -1,
        name: "",
        stock: ""
      };

      //Now load the data from server
      _refreshPageData();

      //HTTP POST/PUT methods for add/edit product
      $scope.update = function () {

        var method = "";
        var url = "";
        if ($scope.form.id == -1) {
          //Id is absent so add product - POST operation
          method = "POST";
          url = 'products';
        } else {
          //If Id is present, it's edit operation - PUT operation
          method = "PUT";
          url = 'products/' + $scope.form.id;
        }

        $http({
          method: method,
          url: url,
          data: angular.toJson($scope.form),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(_success, _error);
      };

      //HTTP DELETE- delete product by Id
      $scope.remove = function (product) {
        $http({
          method: 'DELETE',
          url: 'products/' + product.id
        }).then(_success, _error);
      };

      //In case of edit product, populate form with product data
      $scope.edit = function (product) {
        $scope.form.name = product.name;
        $scope.form.stock = product.stock;
        $scope.form.id = product.id;
      };

      /* Private Methods */
      //HTTP GET- get all products collection
      function _refreshPageData() {
        $http({
          method: 'GET',
          url: 'products'
        }).then(function successCallback(response) {
          $scope.products = response.data;
        }, function errorCallback(response) {
          console.log(response.statusText);
        });
      }

      function _success(response) {
        _refreshPageData();
        _clearForm()
      }

      function _error(response) {
        console.error(response.statusText);
      }

      //Clear the form
      function _clearForm() {
        $scope.form.name = "";
        $scope.form.stock = 0;
        $scope.form.id = -1;
      }
    });
  </script>
</head>
<body ng-app="ProductManagement" ng-controller="ProductManagementController">

<div class="container">

  <h1>Product Stock Management</h1>

  <p>This is a simple playground to the product stock management API.</p>

  <h3>Add/Edit product</h3>

  <form ng-submit="update()">
    <div class="row">
      <div class="col-6"><input type="text" placeholder="Name" ng-model="form.name" size="60"/></div>
      <div class="col-6"><input type="text" placeholder="Stock" ng-model="form.stock" size="60"/></div>
    </div>
    <input type="submit" value="Save"/>
  </form>

  <h3>Product List</h3>

  <div class="row">
    <div class="col-2">Name</div>
    <div class="col-2">Stock</div>
  </div>

  <div class="row" ng-repeat="product in products">
    <div class="col-2">{{ product.name }}</div>
    <div class="col-2">{{ product.stock }}</div>
    <div class="col-8"><a ng-click="edit( product )" class="btn">Edit</a> <a ng-click="remove( product )" class="btn">Remove</a></div>
  </div>

</div>

</body>
</html>
